:root {
	--huddled-red: #f14950;
}

table {
	font-family: "Heebo", sans-serif;
	border-collapse: collapse;
	width: 600px;
}

table td {
	padding: 10px;
}

table tr:nth-child(even) {
	background-color: #f7f5f5;
	color: rgb(31, 31, 31);
}

table tr:nth-child(odd) {
	background-color: white;
	color: #525252;
}
table tr:hover {
	background-color: #f1494f1e;
	color: var(--huddled-red);
}

table th {
	padding: 10px;
	text-align: center;
	background-color: var(--huddled-red);
	color: white;
}

a {
	color: rgb(31, 31, 31);
}
