/* .Widget {
	margin: 1rem;
	background-color: white;
	font-family: "Heebo", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}





*/

.Widget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#last-updated {
	width: 900px;
	padding: 1rem;
	margin: 2rem 0rem 0rem;
	text-align: left;
	background-color: black;
	color: white;
	font-weight: 500;
}
.info-container {
	background-color: white;
	width: 900px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
#go-back {
	padding-bottom: 1rem;
}
#description {
	margin: 1rem 1rem 1rem;
}
