.Widget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#last-updated {
	width: 900px;
	padding: 1rem;
	margin: 2rem 0rem 0rem;
	text-align: left;
	background-color: black;
	color: white;
	font-weight: 500;
}
.info-container {
	background-color: white;
	width: 900px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
.show-table {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 4rem;
}
#show-lines {
	font-family: "Heebo", sans-serif;
	padding: 1rem;
	background-color: var(--huddled-red);
	color: white;
	border: none;
	font-size: large;
}
#go-back {
	padding-bottom: 1rem;
}
#description {
	margin: 1rem 1rem 1rem;
}
